@page
@model ManageUserModel
@{
	ViewData["Title"] = "Manage User";
}

<h2>Manage Users</h2>
@if (Model.UserList.Count == 0)
{
	<p>No users found.</p>
}
else
{
	<table>
		<tr>
			<td>Email</td>
			<td>Name</td>
			<td>Phone Number</td>
			<td>Actions</td>
		</tr>
		@foreach (Models.User User in @Model.UserList)
		{
			<tr>
				<td>@User.Email</td>
				<td>@User.FirstName @User.LastName</td>
				<td>@User.PhoneNumber</td>
				<td>

				</td>
			</tr>
		}
	</table>
}
<form id="ManageUserForm" method="post">
	<table>
		<tr>

		</tr>
	</table>
</form>

<script>
</script>
