@page
@model ManageUserModel
@{
	ViewData["Title"] = "Manage User";
}

<h2>Manage Users</h2>
@if (Model.UserList.Count == 0)
{
	<p>No users found.</p>
}
else
{
	<table>
		<tr>
			<td>Email</td>
			<td>Name</td>
			<td>Phone Number</td>
			<td>Actions</td>
		</tr>
		@foreach (Models.User User in @Model.UserList)
		{
			<tr>
				<td>@User.Email</td>
				<td>@User.FirstName @User.LastName</td>
				<td>@User.PhoneNumber</td>
				<td>

				</td>
			</tr>
		}
	</table>
}

<form id="ManageUserForm" method="post">
	<table>
		<tr>
			<tr>
			<td>Email: </td>
			<td><input type="text" asp-for="EmailEdit" /></td>
		</tr>
		<tr>
			<td>First Name: </td>
			<td><input type="text" asp-for="FirstNameEdit" /></td>
			<td>Last Name: </td>
			<td><input type="text" asp-for="LastNameEdit" /></td>
		</tr>
		<tr>
			<td>Phone Number: </td>
			<td><input type="number" asp-for="PhoneNumberEdit" /></td>
		</tr>
		<tr>
			<td>Address: </td>
			<td><input type="text" asp-for="AddressEdit" /></td>
			<td>City: </td>
			<td><input type="text" asp-for="CityEdit" /></td>
		</tr>
		<tr>
			<td>Province: </td>
			<td><input type="text" asp-for="ProvinceEdit" /></td>
			<td>Postal Code: </td>
			<td><input type="text" asp-for="PostalCodeEdit" /></td>
		</tr>
		<tr>
			<td>Role: </td>
			<td>
				<select asp-for="Role">
					<option value="">Select a Role</option>
					@foreach (SelectListItem role in Model.RolesList)
					{
						<option value="@role.Value">@role.Text</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
		</tr>
		</tr>
	</table>
</form>

<form id="AddWarningForm" method="post">
	<table>
		<input 
	</table>
</form>

<script>
	function populateEditForm() {

	}
</script>
