@page
@model BookModel
@{
	ViewData["Title"] = "Book Tee Time";
}

<h2>Book a Tee Time</h2>
<form id="BookTeeTimeForm" method="post">
	<table>
		<tr>
			<td>Select a Date: </td>
			<td><input type="date" asp-for="SelectedDate" disabled=@Model.ValidDate /></td>
		</tr>
		@if (Model.ValidDate)
		{
			<tr>
				<td>
					<select asp-for="SelectedTime">
						<option value="">Select a Time</option>
						@foreach (SelectListItem teeTime in Model.AvailableTeeTimes)
						{
							<option value="@teeTime.Value">@teeTime.Text</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Cancel" asp-page-handler="Cancel" /></td>
			</tr>
		}
		else
		{
			<tr>
				<td><input type="submit" value="VerifyDate" asp-page-handler="VerifyDate" /></td>
			</tr>
		}
	</table>
</form>
@Model.SelectedDate
@Model.ValidDate
@Model.Role
@Model.AvailableTeeTimes.Count

@foreach (var teeTime in Model.UsedTeeTimes)
{
	<p>@teeTime.TeeTime: @teeTime.Count/4</p>
}
