<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TeeTimeWebApp</title>
	<link rel="stylesheet" href="~/css/Layout.css" />
	<link rel="stylesheet" href="~/css/GlobalForm.css" />
	<link rel="stylesheet" href="~/css/ViewData.css" />
</head>
<body>

	<nav>
		<header>
			<h1><a href="/">TeeTimeWebApp</a></h1>
		</header>
		<ul>
			@if (User.Identity != null && User.Identity.IsAuthenticated && !User.IsInRole(role: "User"))
			{
				<li><a href="/TeeTime/Book">Book Tee Time</a></li>
				<li><a href="/TeeTime/View">View Tee Times</a></li>
				<li><a href="/TeeTime/Manage">Manage Tee Times</a></li>
			}

			@if (User.IsInRole(role: "Admin") || User.IsInRole(role: "Stakeholder"))
			{
				<li><a href="/TeeTime/RequestStandingTeeTime">Request Standing TeeTime</a></li>
			}
			@if (User.IsInRole(role: "Admin"))
			{
				<li class="dropdown">
					Admin Navigation
					<ul class="dropdown-content">
						<li><a href="/Admin/ManageUser">Manage Users</a></li>
						<li><a href="/Admin/ReviewMembershipApplication">Review Membership Applications</a></li>
					</ul>
				</li>
			}

			@if (User.Identity != null && User.Identity.IsAuthenticated)
			{
				<li class="login">
					<a href="/Profile">Profile</a>
				</li>
				<li>
					<a href="/Logout">Logout</a>
				</li>
			}
			else
			{
				<li class="login"><a href="/Register">Register</a></li>
				<li><a href="/Login">Login</a></li>
			}
		</ul>
	</nav>

	<main>
		@if (ViewData["Error"] != null)
		{
			<div class="viewdata error">@ViewData["Error"]</div>
		}

		@if (ViewData["Success"] != null)
		{
			<div class="viewdata success">@ViewData["Success"]</div>
		}
		@RenderBody()
	</main>

	<footer>
		@if (IsSectionDefined("FooterContent"))
		{
			@RenderSection("FooterContent", required: false)
		}
		else
		{
			<p>&copy; 2024 - TeeTimeWebApp</p>
		}
	</footer>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
